<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzm.mysql.mapper.UserMapper">

    <select id="findById" resultType="com.yzm.mysql.entity.User">
        select * from `user` where id = #{id}
    </select>

    <update id="updateUser" parameterType="com.yzm.mysql.entity.User">
        update `user` set password = #{password}, money = #{money} where id = #{id}
    </update>

</mapper>
